.wrapper {
	display: flex;
	align-items: flex-end;
	padding: 3px 7px;
	border: 1px solid transparent;
}

.wrapper:hover {
	border: 1px solid #fff;
	border-radius: 2px;
}

.cart {
	position: relative;
	margin-right: 5px;
}

.counter {
	position: absolute;
	width: 28px;
	top: -4px;
  left: calc(50% - 11px);
	color: #FF9900;
	font-size: 16px;
	font-weight: 700;
	text-align: center;
}

.name {
	font-size: 14px;
	color: #fff;
	font-weight: 500;
	padding-bottom: 8px;
}