.products {
	width: 100%;
	margin-left: 16px;
	position: relative;
	padding: 0 48px 50px;
}

.products::before {
	content: "";
	width: 2px;
	height: 100%;
	background-color: #DDDDDD;
	position: absolute;
	left: 0;
	top: 0;
}

.not_found {
	margin-top: 10px;
}