.count_changer {
  display: flex;
  align-items: center;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  cursor: pointer;
  border: 0;
  background-color: rgb(194, 194, 194);
  transition: all 0.05s ease-in;
}

.btn:hover {
  background-color: rgb(173, 173, 173);
}

.btn:active {
  background-color: rgb(118, 118, 118);
}

.btn.minus {
  margin-right: 10px;
}

.btn.plus {
  margin: 0 10px;
}